<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--达到 自动映射行为 : 全部FULL 局部的PARTIAL 禁止自动匹配NONE-->
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
</configuration>