<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <fieldset class="layui-elem-field">
        <legend>修改密码</legend>
        <div class="layui-field-box">
            <form class="layui-form" onsubmit="return modifyPwd()" id="form1">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <th>登录ID</th>
                        <td>
                            <input name="loginName" class="layui-input" readonly  type="text" th:attr="value=${session.loginEmployee.e_LoginName}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>原始密码</th>
                        <td><input name="oldPwd" required type="text" class="layui-input"/></td>
                    </tr>
                    <tr>
                        <th>新密码</th>
                        <td><input name="newPwd"  required type="text" class="layui-input"/></td>
                    </tr>
                    <tr>
                        <th>确认密码</th>
                        <td><input name="confirmNewPwd" required type="text" class="layui-input"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <input type="submit" value="提交" class="layui-btn"/>
                            <input type="button" value="返回" class="layui-btn" id="back" onclick="backs()"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </fieldset>
</div>
<!-- jQuery -->
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script>
    function backs() {
        parent.layer.closeAll();
    }

    function modifyPwd() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//提交类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/modifyPwd" ,//url
            data: $("#form1").serialize(),//序列化表单信息
            success: function (data) {
                console.log(data);//打印服务端返回的数据(调试用)
                if (data.msg == "true") {
                    $("#back").attr("disabled","disabled");
                    layer.msg("修改成功，3秒后退出！");
                    setTimeout(function (){
                        parent.layer.close(layer.index);
                        parent.location.href="/";
                    }, 3000);
                }else if(data.msg == "false"){
                    layer.msg("修改失败!");
                }else if(data.msg == "Don't match"){
                    layer.msg("两次密码不一致!");
                }else{
                    layer.msg("旧密码不正确!");
                };
            }
        });
        return false;
    }
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    $(document).ready(function () {
        function time() {
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();

            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            if (hour < 10) {
                hour = "0" + hour;
            }
            if (minute < 10) {
                minute = "0" + minute;
            }
            if (second < 10) {
                second = "0" + second;
            }

            $('#time').html(year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second);
        }

        time();
        setInterval(time, 1000);
    });
</script>
</body>
</html>