<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- Bootstrap -->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>服务管理</cite></a>
        <a><cite>常见问题管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <label class="layui-form-label layui-input-inline"></label>
            <input class="layui-input layui-input-inline" placeholder="问题名称" id="sf_Title"/>
            <div class="layui-input-inline">
                <select id="sf_Type">
                    <option value="">问题类型</option>
                    <option th:each="temp : ${s_type}" th:text="${temp.getDd_ValueName()}"
                            th:value="${temp.getDd_ValueId()}"></option>
                </select>
            </div>
            <button class="layui-btn data-table" type="button" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
            </button>
            <button class="layui-btn" type="button"><i class="layui-icon">&#xe654;</i>
            </button>
        </form>
    </div>
    <!-- page content -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!-- /page content -->

</div>
<!-- jQuery -->
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<!-- Datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<script>
    $(document).ready(function () {
        f();
    });

    function f() {
        $('#datatable').dataTable({
            "ordering": false,
            "searching": false,
            "serverSide": true,//是否启用服务器处理数据源
            "bStateSave": false,//不缓存数据
            "language": {
                "lengthMenu": "每页 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                "infoEmpty": "无记录",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页",
                    "processing": "正在处理中...."
                }
            },
            "columnDefs": [
                {"title": "问题ID", "targets": 0},
                {"title": "标题", "targets": 1},
                {"title": "类型", "targets": 2},
                {"title": "创建人", "targets": 3},
                {"title": "最后操作时间", "targets": 4},
                {"title": "操作", "targets": 5}
            ],
            "ajax": {
                "url": "/serviceFAQ.json",
                "type": "POST",
                "dataType": "json",
                data: function (data) {
                    var param = {
                        "sf_Title": $("#sf_Title").val(),
                        "sf_Type.dd_ValueId": $("#sf_Type").val(),
                    };
                    param.length = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                    param.start = data.start;//开始的记录序号
                    param.draw = data.draw;
                    return param;
                }
            },
            "columns": [
                {"data": "sf_Id"},
                {"data": "sf_Title"},
                {
                    "data": "sf_Type", "render": function (data) {
                        return data.dd_ValueName;
                    }
                },
                {
                    "data": "sf_Create", "render": function (data) {
                        return data.e_RealName;
                    }
                },
                {"data": "sf_LastTime"},
                {
                    "data": "sf_Id", "width": "120px", "render": function (data, type, full, meta) {
                        var btn = "<div class=\"layui-btn-group\">\n" +
                            "    <a class=\"layui-btn layui-btn-sm\" title='查看' onclick=\"x_admin_show(null,'/getFaq/" + data + "/get',600,430)\">\n" +
                            "        <i class=\"layui-icon\">&#xe62a;</i>\n" +
                            "    </a>\n";
                        btn = btn + "    <a class=\"layui-btn layui-btn-sm\" title='修改' onclick=\"x_admin_show(null,'/getFaq/" + data + "/modify',600,510,true)\">\n" +
                            "        <i class=\"layui-icon\">&#xe642;</i>\n" +
                            "    </a>\n";
                        btn = btn + "    <a class=\"layui-btn layui-btn-sm\" title='删除' onclick=\"delFaq(" + data + ",'" + full.sf_Title + "')\">\n" +
                            "        <i class=\"layui-icon\">&#xe640;</i>\n" +
                            "    </a>\n";
                        btn = btn + "</div>";
                        return btn;
                    }
                }
            ]
        });

        $(".data-table").on("click", function () {
            $('#datatable').DataTable().ajax.reload();
        });
    }

    function delFaq(id, name) {
        layer.confirm("确认删除问题标题:" + name, {icon: 3, title: '提示'}, function () {
            $.ajax({
                type: "POST",
                url: "/delFaq",
                data: {s_Id: id},
                dataType: "JSON",
                success: function (data) {
                    if (data == true) {
                        layer.msg("删除成功!");
                    } else {
                        layer.msg("删除失败!");
                    }
                    $("#datatable").DataTable().ajax.reload();
                }
            })
        });
    }
</script>
<!-- /Datatables -->
</body>

</html>