<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <fieldset class="layui-elem-field">
        <legend>角色添加</legend>
        <div class="layui-field-box">
            <form class="layui-form" onsubmit="return addRole()" id="form1">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <th>角色编码</th>
                        <td>
                            <input name="r_Code" id="r_Code" class="layui-input" required type="text" onblur="validationCode()"/>
                            <label id="r_CodePrompt" style="color: red" hidden>* 已存在该角色编码</label>
                        </td>
                    </tr>
                    <tr>
                        <th>角色名称</th>
                        <td>
                            <input name="r_Name" id="r_Name" class="layui-input" required type="text" lay onblur="validationName()"/>
                            <label id="r_NamePrompt" style="color: red" hidden>* 已存在该角色名称</label>
                        </td>
                    </tr>
                    <tr>
                        <td>所属部门</td>
                        <td>
                            <select name="r_DeptNo.d_Id" id="d_id" class="layui-select" style="width: 200px;height: 30px">
                                <option value="0">--请选择--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>备注信息</td>
                        <td>
                            <textarea name="r_Description" class="layui-textarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <input type="submit" value="提交" class="layui-btn layui-bg-blue"/>
                            <input type="button" value="返回" class="layui-btn layui-bg-blue" onclick="back()"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </fieldset>
</div>
<!-- jQuery -->
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script th:inline="javascript">

    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    function back() {
        parent.layer.closeAll();
    }

    function validationCode() {
        var flag = false;
        if($("#r_Code").val().trim().length!=0){
            $.ajax({
                type:"POST",
                url:"/validationRole",
                async:false,
                data:{r_Code:$("#r_Code").val()},
                dataType:"JSON",
                success:function (data){
                    if(data==true){
                        $("#r_CodePrompt").removeAttr("hidden");
                    }else{
                        $("#r_CodePrompt").attr("hidden","hidden");
                        flag = true;
                    }
                }
            })
        }else{
            $("#r_CodePrompt").attr("hidden","hidden");
        }
        return flag;
    }

    function validationName() {
        var flag = false;
        if($("#r_Name").val().trim().length!=0){
            $.ajax({
                type:"POST",
                url:"/validationRole",
                async:false,
                data:{r_Name:$("#r_Name").val()},
                dataType:"JSON",
                success:function (data){
                    if(data==true){
                        $("#r_NamePrompt").removeAttr("hidden");
                    }else{
                        $("#r_NamePrompt").attr("hidden","hidden");
                        flag = true;
                    }
                }
            })
        }else{
            $("#r_NamePrompt").attr("hidden","hidden");
        }
        return flag;
    }

    function addRole(){
        if(validationCode()&&validationName()){
            console.log("a");
            $.ajax({
                type:"POST",
                url:"/addRole",
                data:$("#form1").serialize(),
                dataType:"JSON",
                success:function (data){
                    if(data==true){
                        layer.msg("添加成功");
                        parent.$("#roleInfo").DataTable().ajax.reload();
                    }else{
                        layer.msg("添加失败");
                    }
                }
            });
        }
        return false;
    }

    $(document).ready(function () {
        $.ajax({
            type:"POST",
            url:"/deptList",
            dataType:"JSON",
            success:function (data) {
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value='"+data[i].d_Id+"'>"+data[i].d_Name+"</option>";
                    $("#d_id").append(option);
                }
            }
        })
    });
</script>
</body>
</html>